<section id="color">
    <div class="customColor">
        <label for="bg">Main Background:</label>
        <input type="color" id="bg" value="#000000">
        <button class="copy" for="bg" type="button">Copy</button>
        <button class="paste" for="bg" type="button" disabled="true">Paste</button>
    </div>
    <div class="customColor">
        <label for="promo-bg">Promotion Background:</label>
        <input type="color" id="promo-bg" value="#000000">
        <button class="copy" for="promo-bg" type="button">Copy</button>
        <button class="paste" for="promo-bg" type="button" disabled="true">Paste</button>
    </div>
    <div class="customColor">
        <label for="ts-bg">Top Background:</label>
        <input type="color" id="ts-bg" value="#000000">
        <button class="copy" for="ts-bg" type="button">Copy</button>
        <button class="paste" for="ts-bg" type="button" disabled="true">Paste</button>
    </div>
    <div class="customColor">
        <label for="font-color">Font Color:</label>
        <input type="color" id="font-color" value="#000000">
        <button class="copy" for="font-color" type="button">Copy</button>
        <button class="paste" for="font-color" type="button" disabled="true">Paste</button>
    </div>
    <div class="customColor">
        <label for="nav-bg">Navigation Background:</label>
        <input type="color" id="nav-bg" value="#000000">
        <button class="copy" for="nav-bg" type="button">Copy</button>
        <button class="paste" for="nav-bg" type="button" disabled="true">Paste</button>
    </div>
    <div class="customColor">
        <label for="nav-font-color">Navigation Font Color:</label>
        <input type="color" id="nav-font-color" value="#000000">
        <button class="copy" for="nav-font-color" type="button">Copy</button>
        <button class="paste" for="nav-font-color" type="button" disabled="true">Paste</button>
    </div>
</section> 