<div id="background"></div>
<div id="topSide">
    <img id="logo" src="/images/logoB-min.jpg" alt="Midvale Records Logo">
    <div id="navbar">
        <div id="navbar-button">☰</div>
        <ul id="links">
            <div id="back-button">X</div>
            <li><a id="homeLink" href="/home">Home</a></li>
            <li><a id="projectLink" href="/pages/projects">Projects</a></li>
            <li><a id="socialLink" href="/pages/social">Social</a></li>
            <li><a id="forumLink" href="/pages/forum">Forums</a></li>
            <li><a id="aboutLink" href="/pages/about">About Us</a></li>
            <li><a id="joinLink" href="/pages/join">Join Us</a></li>
        </ul>
    </div>
</div>