<div id="background"></div>

<div id="topSide">
    <a href="/home" tabindex="-1"><img id="logo" src="/images/logoB-min.jpg" alt="Midvale Records Logo"></a>
    <div style="position:absolute; left:50%;top:0; text-align: center; transform: translate(-50%,0);
     background-color: rgba(0,0,0,.3); padding: 1em;">
        <h3>THIS WEBSITE IS UNDER DEVELOPMENT</h3>
        <p>Text, events, and details will not be in the final product</p>
    </div>
    <div id="navbar">
        <div id="navbar-button">☰</div>
        <ul id="links">
            <div id="back-button">X</div>
            <li><a id="homeLink" href="/home">Home</a></li>
            <li><a id="projectLink" href="/pages/projects">Projects</a></li>
            <li><a id="socialLink" href="/pages/social">Social</a></li>
            <li><a id="forumLink" href="/pages/forum">Forums</a></li>
            <li><a id="aboutLink" href="/pages/about">About Us</a></li>
            <li><a id="joinLink" href="/pages/contribute">Contribute</a></li>
        </ul>
    </div>
</div>