<div id="background"></div>
<div id="topSide">
    <img id="logo" src="/images/logoB.jpg" alt="Midvale Records Logo">
    <div id="navbar">
        <ul id="links">
            <li><a id="homeLink" href="/home">Home</a></li>
            <li><a id="projectLink" href="/pages/projects">Projects</a></li>
            <li><a id="socialLink" href="/social">Social</a></li>
            <li><a id="forumLink" href="/forum">Forums</a></li>
            <li><a id="aboutLink" href="/about">About Us</a></li>
            <li><a id="joinLink" href="/join">Join Us</a></li>
        </ul>
    </div>
</div>