<div id="background"></div>

<div id="topSide">
    <a href="/home" tabindex="-1"><img id="logo" src="/images/logoB-min.jpg" alt="Midvale Records Logo"></a>

    <div id="mvr-links">
        <a href="https://www.instagram.com/midvalerecs/" target="_blank">
            <img src="https://static.cdninstagram.com/rsrc.php/v3/yt/r/30PrGfR3xhB.png">
        </a>
        <a href="https://github.com/nelstran/MVR-website" target="_blank">
            <img src="https://github.githubassets.com/pinned-octocat.svg">
        </a>
    </div>
    <div id="navbar">
        <div id="navbar-button">☰</div>
        <ul id="links">
            <div id="back-button">X</div>
            <% if (admin == true) { %>
            <li><a tabindex=0 id="adminLink" style="background-color: white; color:black"href="/admin">Admin</a></li>
            <% }
            else { %>
                <li><a tabindex=0 id="adminLink" style="background-color: white; color:black"href="/pages/wvcdaboys">Login</a></li>
            <% } %>
            <li><a tabindex=0 href="/home">Home</a></li>
            <li><a tabindex=0 href="/pages/past-events">Past Events</a></li>
            <li><a tabindex=0 href="/pages/social">Artists</a></li>
            <li><a tabindex=0 href="/pages/forum">Forum</a></li>
            <li><a tabindex=0 href="/pages/about">About Us</a></li>
            <li id="contribute">
                <a tabindex=0 id="contribute-anchor">Contribute ▼</a>
                <ul id="contribute-content">
                    <li class="hide"><a class="contribute-content-anchor" href="/pages/donate">Donate</a></li>
                    <li class="hide"><a class="contribute-content-anchor" href="/pages/join">Join Us</a></li>
                    <li class="hide"><a class="contribute-content-anchor" href="/pages/contact">Contact Us</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>