<link rel="stylesheet" href="/css/global.css">
<link rel="stylesheet" href="/css/portrait.css">
<link rel="stylesheet" href="/css/landscape.css">

<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
<title>Midvale Records</title>
<meta charset="utf-8">
<meta name="desc" content="Collection of artists in the valley of Salt Lake City.">
<meta name="keywords" content="Art, Music, Artists, Utah, Salt Lake City, Utah, Collective">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="Midvale Records">
<meta property="og:type" content="website">
<meta property="og:description" content="Collection of artists in the valley of Salt Lake City.">
<meta property="og:url" content="https://midvalerecords.org">
<meta property="og:image" content="https://mvrstorage.blob.core.windows.net/images/images%2Fmid.jpg">
<meta property="og:image:url" content="https://mvrstorage.blob.core.windows.net/images/images%2Fmid.jpg">
<meta property="og:image:secure_url" content="https://mvrstorage.blob.core.windows.net/images/images%2Fmid.jpg">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="768">
<meta property="og:image:height" content="768">
