<!DOCTYPE html>
<html lang="en">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <head>
        <%- include('partials/metadata'); %>
    </head>
    
    <body onload="setup()">
        <%- include('partials/header'); %>
        <div id="bottomSide">
            <%- include('partials/events', {events: events}); %>
            <section id="main" tabindex="-1">
                <%- include('partials/colors'); %>
                <section class="entry">
                    <h1>Article placeholder</h1>
                    <p class="date"> 10/05/2022 5:21 PM</p>
                    <div class="home-img-container">
                        <img src="/images/dog.webp">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam maecenas ultricies mi eget mauris pharetra et. Nibh cras pulvinar mattis nunc. Tristique risus nec feugiat in fermentum posuere urna nec. Nibh nisl condimentum id venenatis a. Mauris nunc congue nisi vitae. Tellus molestie nunc non blandit massa enim nec dui. Ipsum consequat nisl vel pretium lectus quam id leo in. At erat pellentesque adipiscing commodo elit at. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus. In eu mi bibendum neque egestas congue quisque. Mi bibendum neque egestas congue quisque egestas diam. Sed risus ultricies tristique nulla aliquet enim tortor at auctor. Diam vel quam elementum pulvinar etiam non quam lacus suspendisse. Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam. Vivamus arcu felis bibendum ut tristique et egestas quis ipsum.</p>
                </section>
                <section class="entry">
                    <h1>abcdefghijklmnopqrstuvwxyz</h1>
                    <p class="date"> 10/05/2022 5:21 PM</p>
                    <p>Mauris cursus mattis molestie a iaculis at erat pellentesque. Ac tortor dignissim convallis aenean. Commodo elit at imperdiet dui accumsan sit. Adipiscing at in tellus integer feugiat scelerisque varius morbi. Scelerisque felis imperdiet proin fermentum leo vel. Suspendisse interdum consectetur libero id faucibus nisl tincidunt eget. Viverra ipsum nunc aliquet bibendum. Sed viverra tellus in hac habitasse platea dictumst vestibulum rhoncus. In eu mi bibendum neque egestas congue. Orci dapibus ultrices in iaculis nunc sed. Tristique nulla aliquet enim tortor. Elit duis tristique sollicitudin nibh sit amet commodo nulla. Ultrices eros in cursus turpis massa.</p>
                </section>
                <% if(admin == true) { %>
                    <form action="/admin/createEntry">
                        <button id="addEntry" class="add">+</button>
                    </form>
                <%}%>
            </section>
        </div>
        <script src="/js/index.js"></script>
        <script src="/js/admin.js"></script>
    </body>
</html>