<!DOCTYPE html>
<html lang="en">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <head>
        <%- include('partials/metadata'); %>
    </head>
    
    <body onload="setup()">
        <%- include('partials/header'); %>
        <div id="bottomSide">
            <%- include('partials/events', {events: events}); %>
            <section id="main" tabindex="-1">
                <%- include('partials/colors'); %>
                <section>
                    <h1>Home Page</h1>
                </section>
                <section class="movie">
                </section>  
            </section>
        </div>
        <script src="/js/index.js"></script>
    </body>
</html>