<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/portrait.css">
    <link rel="stylesheet" href="/css/landscape.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <head>
        <%- include('partials/metadata'); %>
    </head>
    
    <body onload="setup()">
        <%- include('partials/header'); %>
        <div id="bottomSide">
            <%- include('partials/events'); %>
            <section id="main">
                <%- include('partials/colors'); %>
                <!-- <section>
                    <h2>Time for Change!</h2>
                    <p>Tran Nelson (TERRORISM) Al Queda2.0/Super ISIS KONY 2022 death to america (shooting/napalm bombing/anthrax 11/19/22 subway attack Burger King Sign Stealing/Amazon takedown planning/ HELPELEPEHELPEJELPMEMEMEHELPEM / RICO Charges/ Supreme Court bombing / Gabriel Flores Wellness Check/ hustle grind/ Ukraine War Militia)/ Raising Cane’s pipe bombing/ Cat (trained armada) Cafe/ Pebis appreciation group and cop hunting/precinct arson planning orc factory gang 😇</p>
                </section>
                <section>
                    <h2>Ethan's Message</h2>
                    <p>It's not about the benson hedges stuff i just realized around that time that it was really hard to get work done creatively and in other aspects as well where you and i as well sometimes would argue just the most redundant and asinine things and i felt like i couldn't say shit without getting the complete opposite thoughts and reaction from you. I really don't need that and i feel like you've been that way forever and it just stays the same. Even lately I've seen you just go off on people just to be contrarian it seems like. I need peace in my life and leaving the band was hard as fuck but i had had enough of it to where i couldn't even write without thinking oh for sure this isn't gonna fly with titus. That's the reason dog im not looking to argue and im sure you've had your qualms with me similiarly and i don't deny i can be difficult sometimes too but im not tryna reconcile really some things just gotta move on and this is one of those things for me. I would say moving forward you will get a lot of success around people if you listen a little more and push back a little less, there's a difference between sticking to your guns and just being contrarian.</p>
                </section> -->
            </section>
        </div>
    </body>
<script src="/js/index.js"></script>
</html>