<!DOCTYPE html>
<html lang="en">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <head>
        <%- include('../partials/metadata'); %>
        <style>
            #bottomSide{
                grid-template-columns: none;
                grid-template-rows: none;
            }
            #promo{
                display:none
            }
        </style>
    </head>
    
    <body onload="setup()">
        <%- include('../partials/header'); %>
        <div id="bottomSide">
            <section id="promo">
                <section id="events" tabindex="-1">
                </section>
            </section>
            <section id="main">
                <%- include('../partials/colors'); %>
                <h1>Don't fuck up the website guys</h1>
                <section id="adminSection">
                    <section>
                        <form action="/admin/createEntry" class="adminForm">
                            <button class="add adminButton" title="Create new entry">
                                <h1>ADD AN ENTRY TO THE HOME PAGE ✎</h1>
                            </button>
                        </form>
                        <form action="/admin/createEvent" class="adminForm">
                            <button class="add adminButton" title="Add an event">
                                <h1>ADD AN EVENT SHOWN EVERYWHERE ★</h2>
                            </button>
                        </form>
                        <form action="/admin/createProject" class="adminForm">
                            <button class="add adminButton" title="Add a project">
                                <h1>ADD A PROJECT TO THE PROJECT PAGE ♬</h1>
                            </button>
                        </form>
                    </section>
                    
                    <section>
                        <form action="/admin/manageEntrys" class="adminForm">
                            <button class="manage adminButton" title="Manage entries">
                                <h1>MANAGE</h1>
                            </button>
                        </form>
                        <form action="/admin/manageEvents" class="adminForm">
                            <button class="manage adminButton" title="Manage events">
                                <h1>MANAGE</h2>
                            </button>
                        </form>
                        <form action="/admin/manageProjects" class="adminForm">
                            <button class="manage adminButton" title="Manage projects">
                                <h1>MANAGE</h1>
                            </button>
                        </form>
                    </section>
                </section>
                <form action="/admin/logout" class="adminForm">
                    <button class="logout adminButton" title="Logout">
                        <h1>LOGOUT</h1>
                    </button>
                </form>
                <h3>Contact Nelson for more help</h3>
            </section>
        </div>
        <script src="/js/index.js"></script>
    </body>
</html>