<!DOCTYPE html>
<html lang="en">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <head>
        <%- include('../partials/metadata'); %>
        <link rel="stylesheet" href="/css/admin.css">
    </head>
    
    <body onload="setup()">
        <%- include('../partials/header'); %>
        <div id="bottomSide">
            <section id="main">
                <%- include('../partials/colors'); %>
                <h1 style="text-align:center">Don't fuck up the website guys</h1>
                <section id="adminSection">
                    <section style="flex:2">
                        <form action="/admin/createEntry" class="adminForm">
                            <button class="add adminButton" title="Create new entry">
                                <h1>ADD ENTRY ✎</h1>
                            </button>
                        </form>
                        <form action="/admin/createEvent" class="adminForm">
                            <button class="add adminButton" title="Add an event">
                                <h1>ADD EVENT★</h2>
                            </button>
                        </form>
                        <form action="/admin/createProject" class="adminForm">
                            <button class="add adminButton" title="Add a project">
                                <h1>ADD PROJECT ♬</h1>
                            </button>
                        </form>
                    </section>
                    
                    <section style="flex:1">
                        <form action="/admin/manageEntries" class="adminForm">
                            <button class="manage adminButton" title="Manage entries">
                                <h1>MANAGE</h1>
                            </button>
                        </form>
                        <form action="/admin/manageEvents" class="adminForm">
                            <button class="manage adminButton" title="Manage events">
                                <h1>MANAGE</h2>
                            </button>
                        </form>
                        <form action="/admin/manageProjects" class="adminForm">
                            <button class="manage adminButton" title="Manage projects">
                                <h1>MANAGE</h1>
                            </button>
                        </form>
                    </section>
                </section>
                <section id="misc-div">
                    <form action="/" class="backForm">
                        <button class="back" title="Go back">
                            <h1>GO BACK</h1>
                        </button>
                    </form>
                    <form action="/admin/logout" class="adminForm">
                        <button class="logout adminButton" title="Logout">
                            <h1>LOGOUT</h1>
                        </button>
                    </form>
                </section>
                <h3>Contact Nelson for more help</h3>
            </section>
        </div>
        <script src="/js/index.js"></script>
    </body>
</html>