<!DOCTYPE html>
<html lang="en">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <head>
        <%- include('../partials/metadata'); %>
        <link rel="stylesheet" href="/css/contact.css">
    </head>
    
    <body onload="setup()">
        <%- include('../partials/header'); %>
        <div id="bottomSide">
            <%- include('../partials/events', {events: events}); %>
            <section id="main">
                <%- include('../partials/colors'); %>
                <section>
                    <h1 style="text-align: center;">Contact Midvale Records</h1>
                    <div id="info">
                        <section class="contact">
                            <h3 class="title">By phone</h3>
                            <div>
                                <p>You can contact the CEO, Paulo Cubas, whenever</p>
                                <ul><li>+1 801 867 5309</li></ul>
                            </div>
                        </section>
                        <section class="contact">
                            <h3 class="title">By email</h3>
                            <div>
                                <p>Contact us by email if you have any questions, suggestions, or concerns</p>
                                <ul>
                                    <li style="list-style:none">
                                        CEO: <a href="mailto: kidneybeans18@gmail.com">kidneybeans18@gmail.com</a>
                                    </li> 
                                    <li style="list-style:none">
                                        Unpaid web dev: <a href="mailto: nelsonquoc2003@yahoo.com">nelsonquoc2003@yahoo.com</a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                        <section class="contact">
                            <h3 class="title">In person</h3>
                            <div>
                                <p>Did you know that pipe bombs are $10?</p>
                                <ul><li>416 Billings St, Apt 14</li>
                                5005135, Midvale, Utah</ul>
                            </div>
                        </section>
                        <section class="contact">
                            <h3 class="title">By social media</h3>
                            <div>
                                <p>Follow, Like, Subscribe, Pin, Stalk, Threaten, Dox us!</p>
                                <ul>
                                    <li> 
                                        <a id="insta" href="https://www.instagram.com/midvalerecs/" target="_blank">
                                            <img style="height:2em; margin: 1em;"src="https://static.cdninstagram.com/rsrc.php/v3/yt/r/30PrGfR3xhB.png">
                                            @midvalerecs
                                        </a>
                                    </li> 
                                </ul>
                            </div>
                        </section>
                    </div>
                </section>
            </section>
        </div>
        <script src="/js/index.js"></script>
    </body>
    
</html>