<!DOCTYPE html>
<html lang="en">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <head>
        <%- include('../partials/metadata'); %>
        <link rel="stylesheet" href="/css/entry.css">
        <link rel="stylesheet" href="/css/simplemde.min.css">
    </head>
    
    <body onload="setup()">
        <%- include('../partials/header'); %>
        <div id="bottomSide">
            <section id="promo">
                <section id="events" tabindex="-1">
                </section>
            </section>
            <section id="main">
                <%- include('../partials/colors'); %>
                <section>
                    <form id="entryForm" action="/admin/uploadEntry" method="POST">
                        <p style="margin:0;"><strong>Create a post</strong></p>

                        <input type="text" name="title" placeholder="Insert title here" id="titleInput">
                        <label for="imgUpload" style="font-size:80%;">Upload an image:</label>

                        <input type="file" name="imgUpload" id="imgUpload" 
                        accept="image/png, image/jpg, image/jpeg, image/gif, image/webp" style="cursor:pointer">
                        
                        <section id="entryArea">
                            <textarea id="editor"></textarea>
                        </section>

                        <p id="error"></p>

                        <div id="bottom-button-div">
                            <input type="button" value="Preview" id="previewButton">
                            <button id="submit">Post</button>
                        </div>
                    </form>
                </section>
                
                <h1>Preview:</h1>
                <section id="preview" class="entry preview">
                </section>
            </section>
        </div>
        <script src="/js/index.js"></script>
        <script src="/js/simplemde.min.js"></script>
        <script src="/js/showdown.min.js"></script>
        <script src="/js/entry.js"></script>
    </body>
</html>