<!DOCTYPE html>
<html lang="en">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <head>
        <%- include('../partials/metadata'); %>
    </head>
    
    <body onload="setup()">
        <%- include('../partials/header'); %>
        <div id="bottomSide">
            <%- include('../partials/events', {events: events}); %>
            <section id="main">
                <%- include('../partials/colors'); %>
                <section>
                    <h1 style="text-align: center;">Help Midvale Records!</h1>
                    <p>
                        Donate equipment, instruments or anything that helps 
                        artists of Midvale Records succeed
                        <br>
                        Contact Paulo at kidneybeans18@gmail.com for more information
                    </p>
                    <br>
                    <h3 style="text-align:center">
                        If you would like to donate money, our Venmo is @mintkoopa
                    </h3>
                    <h3 style="text-decoration:underline; text-align: center;">
                        Your money helps:
                    </h3>
                    <ul>
                        <li>Keep this website up</li>
                        <li>Buy new and better equipment</li>
                        <li>Fund shows, events, and projects</li>
                        <li>Pay for Paulo's car insurance</li>
                        <li>Pay for Nelson's child support</li>
                    </ul>
                </section>
            </section>
        </div>
        <script src="/js/index.js"></script>
    </body>
    
</html>