<!DOCTYPE html>
<html lang="en">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <head>
        <%- include('../partials/metadata'); %>
    </head>
    
    <body onload="setup()">
        <%- include('../partials/header'); %>
        <div id="bottomSide">
            <%- include('../partials/events', {events: events}); %>
            <section id="main">
                <%- include('../partials/colors'); %>
                <section>
                    <h1 style="text-align: center;">Help Midvale Records!</h1>
                    <h3>Where do my donations go to?</h3>
                    <p style="text-decoration:underline">Your money helps:</p>
                    <ul>
                        <li>Keep this website up</li>
                        <li>Buy new and better equipment</li>
                        <li>Fund shows, events, and drugs</li>
                        <li>Fund a local terrorist group in West Valley (Support Local!)</li>
                    </ul>
                </section>
            </section>
        </div>
        <script src="/js/index.js"></script>
    </body>
    
</html>