<!DOCTYPE html>
<html lang="en">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <head>
        <%- include('../partials/metadata'); %>
    </head>
    
    <body onload="setup()">
        <%- include('../partials/header'); %>
        <div id="bottomSide">
            <%- include('../partials/events', {events: events}); %>
            <section id="main">
                <%- include('../partials/colors'); %>
                <section>
                    <h1>Forum Page (COMING SOON™)</h1> 
                </section>
                <section>
                    <iframe
                        width="680"
                        height="400"
                        frameborder="0"
                        src="https://dos.zone/player/?bundleUrl=https%3A%2F%2Fcdn.dos.zone%2Fcustom%2Fdos%2Fdoom.jsdos?anonymous=1"
                        allowfullscreen>
                    </iframe> 
                </section>
            </section>
        </div>
        <script src="/js/index.js"></script>
    </body>
    
</html>