#bottomSide{
    grid-template-columns: none;
    grid-template-rows: none;
}
#promo{
    display:none
}
.adminForm{
    display:flex;
    flex:1;
    align-items: center;
}
.adminForm h1{
    margin: 0;
    padding:0;
    font-size: 1.3em;
    letter-spacing: .05em;
}
.loginForm{
    background-color: rgb(31,31,31);
    border: .2em solid rgb(70, 70, 70);
    display:flex;
    gap:1em;
    flex-direction: column;
    padding:1em;
    border-radius: 1em;
}
.loginForm input, .loginForm button{
    font-family: 'Rubik', sans-serif;
    font-size: 1.1rem;

    border: none;
    outline: 1px solid rgb(70, 70, 70);
    
    margin-top:.5em;
    padding: .5em;

    transition: background-color .1s linear;

    background-color: rgb(31,31,31);
    color:white;
}
.loginForm button{
    background-color: rgb(100,100,100);
    max-width: 40%;
    width: 10em;
    align-self: center;
}
.loginForm button:hover, button:focus{
    outline-offset: .1em;
    background-color: rgb(70,70,70);
}
.loginForm button:active{
    outline-offset: .1em;
    background-color: rgb(50,50,50);
}
.add, .manage, .logout, .edit, .delete{
    padding:0;
    border:none;
    outline: none;
    cursor:pointer;
}
.manage{
    height: calc(100%-2em);
}
.add, .edit{
    background-color: #328abd;
}
.manage{
    background-color: #12aa36;
}
.logout, .delete{
    background-color: #ca1111;
}
.adminButton{
    border-radius: 5em;
    width:auto;
    height: fit-content;
    padding:1em;
    margin: 1em;
}
.adminButton + h2{
    font-size: 1em;
    text-align: center;
    margin:0;
}
#adminSection{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width:100%;
}
#adminSection > section{
    display:flex;
    flex-direction: column;
    margin-inline: .3em;
}
.adminButton{
    width:100%;
    margin-inline:0;
}
.add:hover, .add:focus, .edit:hover, .edit:focus{
    background-color: #215c7e !important;
}
.add:active, .edit:active{
    background-color: #17435c !important;
}
.manage:hover, .manage:focus{
    background-color: #0c7e26 !important;
}
.manage:active{
    background-color: #08581b !important;
}
.logout:hover, .logout:focus, .delete:hover, .delete:focus{
    background-color: #a20d0d !important;
}
.logout:active, .delete:active{
    background-color: #730909 !important;
}

.adminForm button{
    -webkit-transition: background-color .1s ease;
    -moz-transition: background-color .1s ease;
    -o-transition: background-color .1s ease;
    transition: background-color .1s ease;
}