form{
    background-color: rgb(31,31,31);
    border: .2em solid rgb(70, 70, 70);
    display:flex;
    gap:.5em;
    flex-direction: column;
    padding:1em;
    border-radius: 1em;
    max-width: 60rem;
    width:50vw;
    min-width: 15em;
}
input[type=text], input[type=file],button{
    font-family: 'Rubik', sans-serif;
    font-size: 1.1rem;

    border: none;
    outline: 1px solid rgb(70, 70, 70);
    
    padding: .5em;

    transition: background-color .1s linear;

    background-color: rgb(31,31,31);
    color:white;
}
button{
    background-color: rgb(100,100,100);
    max-width: 40%;
    width: 10em;
    align-self: center;
}
button:hover, button:focus{
    outline-offset: .1em;
    background-color: rgb(70,70,70);
}
button:active{
    outline-offset: .1em;
    background-color: rgb(50,50,50);
}
input[type=text]:focus, textarea:focus{
    outline:2px solid rgb(100,100,100);
}