input[type=text], input[type=file], input[type=button], button:not(.back){
    font-family: 'Rubik', sans-serif;
    font-size: 1.1rem;

    border: none;
    outline: 1px solid rgb(70, 70, 70);

    padding: .5em;

    transition: background-color .1s linear;

    background-color: rgb(31,31,31);
    color:white;
}
#bottom-button-div > button, input[type=button]{
    background-color: rgb(100,100,100);
    max-width: 40%;
    width: 10em;
    align-self: center;
}
#bottom-button-div > button:hover, #bottom-button-div > button:focus, input[type=button]:hover, input[type=button]:focus{
    outline-offset: .1em;
    background-color: rgb(70,70,70);
}
#bottom-button-div > button:active, input[type=button]:active{
    outline-offset: .1em;
    background-color: rgb(50,50,50);
}
input[type=text]:focus, textarea:focus{
    outline:2px solid rgb(100,100,100);
}
#error{
    display:none;
    color:red;
    margin-top:0;
    text-align:center;
}
#bottom-button-div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
#preview{
    min-height: 20em;
    max-width: 60rem;
    width:50vw;
    min-width: 15em;
    padding:1em;
    background-color: rgb(31,31,31);
}
.preview::before{
    content: "\200B";
}