body{
    background-image: linear-gradient(150deg,rgb(166, 239, 159),rgb(3, 59, 6));
    background-size: 100vw 100vh; 
    font-family: Calibri, sans-serif;
    font-size: calc(16px + .1vh);
    margin:0 auto;
    overflow: hidden;
    height:100vh;
    --ts-Height: max(15%,10em);
    display: grid;
    grid-template-rows: var(--ts-Height) calc(100% - var(--ts-Height));
}
/* ------------------- */
/*   REGION: topSide */
/* ------------------- */
#topSide{
    border-bottom: 0.1rem solid black;
    width: 100%;
}

/* ------------------- */
/*   REGION: bottomSide */
/* ------------------- */
@media screen and (orientation: landscape) {
    #bottomSide{
        /* border: 2px solid white;  */
        display: grid;
        grid-template-columns: 15rem 3fr;
        grid-gap: 1%;
    }
    #events{
        border-right: 2px solid black;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

    }
    #events::-webkit-scrollbar{
        display:none;
    }
    
    #events .event{
        /* border: 1px solid black; */
        /* display:flex;
        flex-direction: row; */
        display: grid;
        grid-template-columns: 50% 50%;
        margin: .5rem 1rem;
    }
    #events img{
        height:auto;
        width: 85%;
        border-radius: 100%;
        float:left;
    }
    .event div *{
        /* border:1px solid black; */
        padding:0;
        margin: 0;
    }
    .event h1{
        text-decoration: underline;
    }
}
