:root{
    --ts-Height: 7em;
    /* --bg:rgb(102, 187, 240); */
    --bg:rgb(220, 220, 220);
    --promo-bg:rgb(186, 186, 186);
    --ts-bg:rgb(255, 255, 255);
    --font-color: black;
}

body{
    background-color: var(--bg);
    background-size: 100vw 100vh; 
    font-family: 'Rubik', sans-serif;
    font-size: 1.1rem;
    color: var(--font-color);

    margin:0 auto;
    overflow-x: hidden;
    overflow-y: hidden;

    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;

    display: grid;
    grid-template-rows: var(--ts-Height) calc(100vh - var(--ts-Height));
    /* grid-template-rows: var(--ts-Height) auto; */
}

/* ------------------- */
/*   REGION: topSide */
/* ------------------- */
#topSide{
    background-color: var(--ts-bg);
    width: 100%;
    z-index: 1;

    box-shadow: -2px -7px 17px -1px rgba(0,0,0,1);
    -webkit-box-shadow: -2px -7px 17px -1px rgba(0,0,0,1);
    -moz-box-shadow: -2px -7px 17px -1px rgba(0,0,0,1); 

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#logo{
    float:left;
    max-width: calc(var(--ts-Height) * .8);
    padding: calc(var(--ts-Height) * .1);
}

/* ------------------- */
/*   REGION: bottomSide */
/* ------------------- */

#bottomSide{
    max-width: 100vw;
    display: grid;
    /* top:var(--ts-Height); */
}

#bottomSide *{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#bottomSide *::-webkit-scrollbar{
    display: none;
}

/* Promo Section */
#promo{
    background-color: var(--promo-bg);
    display:grid;
    grid-template-rows: min-content 1fr;
}

#events{
    display: flex;
    justify-content:flex-start;
}

.event{
    display:flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    /* overflow: auto; */
}

.promoIMG{
    border: .1rem solid black;
    object-fit: cover;
    overflow: hidden;
    border-radius: 100%;
    width: 90%;
    /* height:auto; */
    min-width: 5em;
}

.event div *{
    font-size:90%;
    padding:0;
    margin: 0;
}
/* Main Section */
#main{
    background-color: var(--bg);
    padding: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    overflow-y:auto;
    overflow-x:hidden;
    pointer-events: painted;
}
#main section{
    margin-inline: 1rem;
    max-width: 62.5rem;
}

#team{
    margin-inline: 1em;
    max-width: 56.25rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}
#team img{
    max-width: clamp(300px, 80%, 100%);
}


/* #label{
    border: 2px solid blue;
} */
/* #events{
    border: 2px solid purple;
} */

/* .event{
    border:2px solid black;
} */
/* 
#promo{
    border: 2px solid red;
} */

/* #main{
    border: 2px solid yellow;
} */

@media screen and (orientation: portrait) {
    body{
        overflow-y: auto;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-height: max-content;
        /* grid-template-rows: var(--ts-Height) auto; */
    }
    #topSide{
        max-height: var(--ts-Height);
        border-bottom: .1em solid var(--bg);
    }

    #bottomSide{
        flex-grow: 1;
        grid-template-rows: minmax(calc(100px + 2rem), 225px) 3fr;
        /* overflow-y:auto; */
    }
    #promo{
        /* border-bottom: 0.1rem solid black; */
        grid-template-rows: auto 1fr;
        overflow-x: auto;
        overflow-y:hidden;
    }
    @media screen and (max-height:30em){
        #bottomSide{
            grid-template-rows: auto;
        }
        #promo{
            display:none;
        }
    }
    #label > h1{
        max-width: max-content;
        font-size: large;
        position:sticky;
        left:1em;
        margin: .5em 1em;
    }
    #label > hr{
        display: none;
    }

    #events{
        flex-direction: row;
        align-items: stretch;
        align-self:center;
        height:min-content;
        margin-left:.5em;
        max-height: 100%;
    }
    
    .event{
        width: 5em;
        margin: .1em .5em;
    }

    .event h1{
        font-size: 70%;
    }
    
    .event div p{
        display: none;
    }
}

@media screen and (orientation: landscape) {
    @media screen and (max-height: 500px){
        body{
            overflow-y: auto;
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-height: max-content;
        }
        #promo{
            max-height: 100vh;
        }
    }
    #bottomSide{
        grid-template-columns: minmax(calc(100px + 2rem), 200px) 3fr;
    }

    /* Promo Section */
    #promo{
        /* border-right: 0.1rem solid black; */
        overflow-y: auto;
        position: sticky;
        top:0;

    }

    #label > h1{
        font-size: large;
        margin: .5em .3em 0 .3em;
        /* text-decoration: underline; */
        text-align: center;
    }

    #label > hr{
        color: black;
        background-color: black;
        width: 90%;
        margin-block: .5em 0;
    }

    #events{
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
    }

    .event{
        justify-content: center;
        margin: .5em 1em;
    }
    @media screen and (max-width:60em){
        .event div p{
            display: none;
        }

        #bottomSide{
            display: grid;
            grid-template-columns: minmax(10%, 6.9em) auto;
        }
    }
}
