:root{
    --bg1: rgb(255, 255, 255);
    --bg2: rgb(4, 111, 177);
    --bg:rgb(102, 187, 240);
}

body{
    /* background-image: linear-gradient(150deg,var(--bg1), var(--bg2) 74%); */
    background-color: var(--bg);
    background-size: 100vw 100vh; 
    font-family: Calibri, sans-serif;
    /* font-size: calc(15px + .1vh); */
    font-size: 1.3rem;

    margin:0 auto;
    overflow: hidden;
    height:100vh;
    /* --ts-Height: max(15%,10em); */
    --ts-Height: 7em;
    display: grid;
    grid-template-rows: var(--ts-Height) calc(100% - var(--ts-Height));
}

#main{
    /* border: 2px solid white;  */
    padding: 1em;
}

/* ------------------- */
/*   REGION: topSide */
/* ------------------- */
#topSide{
    border-bottom: 0.1rem solid black;
    width: 100%;
}
#topSide #logo{
    /* position: absolute; */
    float:left;
    height:80%;
    width: auto;
    padding: .7em;
}

/* ------------------- */
/*   REGION: bottomSide */
/* ------------------- */
@media screen and (orientation: landscape) {
    #bottomSide{
        /* border: 2px solid white;  */
        display: grid;
        grid-template-columns: minmax(calc(100px + 2rem), 200px) auto;
    }

    #bottomSide > *{
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    
    #bottomSide > *::-webkit-scrollbar{
        display: none;
    }
    
    #events{
        border-right: 0.1rem solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:flex-start;
    }

    #events > h1{
        /* border: 2px solid black; */
        font-size: large;
        margin: .5em 0 0 0;
        /* text-decoration: underline; */
        text-align: center;
    }

    #events hr{
        color: black;
        background-color: black;
        width: 90%;
    }
    
    #events .event{
        /* border: 1px solid black; */
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: .5em 1em;
        vertical-align: middle;
        overflow: hidden;
    }
    #events img{
        border: 1px solid black;
        height:auto;
        width: 85%;
        min-width: 50px;
        border-radius: 100%;
    }
    @media screen and (max-width:60em){
        .event div p{
            display: none;
        }

        #bottomSide{
            /* border: 2px solid white;  */
            display: grid;
            grid-template-columns: minmax(10%, 6.9em) auto;
        }
    }
    .event div *{
        /* border:1px solid black; */
        font-size:80%;
        padding:0;
        margin: 0;
    }
}
