form{
    background-color: rgb(31,31,31);
    border: .2em solid rgb(70, 70, 70);
    display:flex;
    gap:1em;
    flex-direction: column;
    padding:1em;
    border-radius: 2%;
}
label{
    transition: color .1s ease;
    right:0;
    position:relative;

}
.invalid{
    background-color: rgb(255, 134, 134);
}
.animate{
    animation: error .2s linear forwards;
}
@keyframes error{
    0%{
        right: 0px;
    }
    50%{
        right: -5px;
    }
    75%{
        right: 5px;
    }
    100%{
        right:0px;
    }
}
input[type=text], input[type=email]{
    font-family: 'Rubik', sans-serif;
    font-size: 1.1rem;
    border-radius: 2px;
    margin-top:.5em;
    transition: background-color .1s linear;
}
#require{
    display:none;
    text-align:center;
    margin:0;
    padding:0;
    color:red;
}
#name, #drop, #credit{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1em;
    padding-inline:0;
}
#SSN > input{
    max-width: 2em;
}
#teamType{
    display: flex;
    justify-content: space-evenly;
    gap:1em;
    flex-wrap: wrap;
}
form > section > section {
    margin-inline:0;
}