table{
    border-collapse: collapse;
}
td{
    padding:1em;
    overflow-y:auto;
    max-height: 5em;
}
th{
    padding:.5em;
}
table, td, th {
    border-block: 1px solid rgb(70, 70, 70);
}
tr:nth-child(even){
    background-color: rgb(31,31,31);
}
.table-val-div{
    overflow:auto;
    max-height: 10em;
}
.action-div div{
    display:flex;
    flex-wrap:wrap;
    gap:1em;
}
.actionButton{
    border-radius: 5em;
    width:100%;
    height: fit-content;
    padding-inline:1em;
}
@media screen and (max-width:30rem){
    tr > th:not(:first-child, .action-div){
        display:none;
    }
    tr > td:not(:first-child, .action-div){
        display:none;
    }
}