@media screen and (orientation: portrait) {
    @media screen and (max-height:30em){
        #bottomSide{
            grid-template-rows: auto;
        }
        #promo{
            display:none;
        }
    }
    body{
        overflow-y: auto;
        flex-wrap: wrap;
        max-height: max-content;
    }
    #topSide{
        max-height: var(--ts-Height);
        border-bottom: .1em solid var(--bg);
    }
    #links{
        display:none;
    }
    #bottomSide{
        grid-template-rows: minmax(calc(100px + 2rem), 225px) 3fr;
    }
    #promo{
        grid-template-rows: auto 1fr;

        overflow-x: auto;
        overflow-y:hidden;
    }
    #label{
        position:sticky;
        left:1em;

        max-width: max-content;
    }
    #label > hr{
        display: none;
    }

    /* #overflow-begin{
        left:0;

        box-shadow: 78px 0px 25px -80px rgba(0,0,0,0.75) inset;
        -webkit-box-shadow: 78px 0px 25px -80px rgba(0,0,0,0.75) inset;
        -moz-box-shadow: 78px 0px 25px -80px rgba(0,0,0,0.75) inset;
    }
    #overflow-end{
        right:0;

        box-shadow: -78px 0px 25px -80px rgba(0,0,0,0.75) inset;
        -webkit-box-shadow: -78px 0px 25px -80px rgba(0,0,0,0.75) inset;
        -moz-box-shadow: -78px 0px 25px -80px rgba(0,0,0,0.75) inset;
    } */

    #events{
        flex-direction: row;
        align-items: stretch;
        align-self:center;

        overflow-x: auto;

        height:min-content;
        max-height: 100%;
        max-width: 100%;
    }
    
    .event{
        width: 5em;
        margin: .1em .5em;
    }

    .event h2{
        font-size: 70%;
    }
    
    .event div p{
        display: none;
    }
}