@media screen and (orientation: portrait) {
    :root{
        --nav-bg-dark: #000000;
    }
    @media screen and (max-height:30em){
        #bottomSide{
            grid-template-rows: auto;
        }
        #promo{
            display:none;
        }
    }
    body{
        overflow-y: auto;
        flex-wrap: wrap;
        max-height: max-content;
    }
    #topSide{
        max-height: var(--ts-Height);
        border-bottom: .1em solid var(--bg);
    }
    #navbar-button{
        position:fixed;
        top:0;
        right:0;
        cursor: pointer;

        margin: 2em;
        padding:1em;

        background-image: radial-gradient(var(--nav-bg), var(--nav-bg-dark) 100%);
        border: .1em solid var(--nav-bg);
        border-radius: 100%;
        color: var(--nav-font-color);
    }
    #links{
        background-color: var(--nav-bg);
        border-left: .1em solid black;

        position:fixed;
        top: 0;
        right:calc( -1 * (100vw - 5em));

        padding-top: var(--ts-Height);
        overflow:hidden;

        max-width: calc(100vw - 5em);
        height: 100vh;

        box-shadow: 78px 0px 25px -80px rgba(0,0,0,0.75) inset;
        -webkit-box-shadow: 78px 0px 25px -80px rgba(0,0,0,0.75) inset;
        -moz-box-shadow: 78px 0px 25px -80px rgba(0,0,0,0.75) inset;

    }
    #back-button{
        border-radius: 100%;
        display:block;
        cursor: pointer;
        font-size: 4ch;
        font-weight:800;
        color:var(--nav-font-color);

        position:fixed;
        top:0;
        right:calc( -1 * (100vw - 5em));

        margin: 2rem;
        padding-inline: 1rem;

        -webkit-transition: var(--transition-dur) ease;
        -moz-transition: var(--transition-dur) ease;
        -o-transition: var(--transition-dur) ease;
        transition: var(--transition-dur) ease;
    }
    #back-button:hover{
        background-color: var(--nav-selection-color);
        color:var(--nav-selection-font-color);
    }
    #links li{
        display: inline-block;
        border-bottom: .1em solid var(--nav-bg-dark);

        margin-inline:2em;
        overflow:visible;

        min-width:calc(100% - 4em);
        max-width: 80%;
    }
    #links a{
        /* border: 2px solid white; */
        padding-block: 1em;
        position:relative;
        left:0;
    }
    #links a:hover{
        margin-inline:-3em;
        top:0;
        left:-1em;
    }
    #bottomSide{
        grid-template-rows: minmax(calc(100px + 2rem), 225px) 3fr;
    }
    #promo{
        grid-template-rows: auto 1fr;

        overflow-x: auto;
        overflow-y:hidden;

        box-shadow: 0px -78px 25px -80px rgba(0,0,0,0.75) inset;
        -webkit-box-shadow: 0px -78px 25px -80px rgba(0,0,0,0.75) inset;
        -moz-box-shadow: 0px -78px 25px -80px rgba(0,0,0,0.75) inset;
    }
    #label{
        position:sticky;
        left:1em;

        max-width: max-content;
    }
    #label > hr{
        display: none;
    }
    #events{
        flex-direction: row;
        align-items: stretch;
        align-self:center;

        overflow-x: auto;

        height:min-content;
        max-height: 100%;
        max-width: 100%;
    }
    .event{
        width: 5em;
        margin: .1em .5em;
    }
    .event h2{
        font-size: 70%;
    }
    .event div p{
        display: none;
    }
}
#navbar-button{
    -webkit-transition: var(--transition-dur) ease;
    -moz-transition: var(--transition-dur) ease;
    -o-transition: var(--transition-dur) ease;
    transition: var(--transition-dur) ease;
}