@media screen and (orientation: portrait) {
    :root{
        --nav-bg-dark: #000000;
    }
    #bottomSide{
        grid-template-rows: minmax(calc(100px + 2rem), 225px) 3fr;
    }
    @media screen and (max-height:30em){
        #bottomSide{
            grid-template-rows: none;
        }
        #promo{
            display:none;
        }
    }
    body{
        overflow-y: auto;
        flex-wrap: wrap;
        max-height: max-content;
    }
    #topSide{
        max-height: var(--ts-Height);
        border-bottom: .1em solid var(--bg);
    }
    #navbar-button{
        position:fixed;
        top:0;
        right:0;
        cursor: pointer;

        margin: 2em;
        padding:1em;

        background-image: radial-gradient(var(--nav-bg), var(--nav-bg-dark) 100%);
        border: .1em solid var(--nav-bg);
        border-radius: 100%;
        color: var(--nav-font-color);
    }
    #links{
        background-color: var(--nav-bg);
        border-left: .1em solid black;

        position:fixed;
        transform-origin: top left;
        top: 0;
        left: 100vw;

        padding-top: var(--ts-Height);
        overflow:hidden;

        max-width: calc(100vw - 5em);
        height: 100vh;

        box-shadow: 78px 0px 25px -80px rgba(0,0,0,0.75) inset;
        -webkit-box-shadow: 78px 0px 25px -80px rgba(0,0,0,0.75) inset;
        -moz-box-shadow: 78px 0px 25px -80px rgba(0,0,0,0.75) inset;

    }
    #back-button{
        border-radius: 100%;
        display:block;
        cursor: pointer;
        font-size: 4ch;
        font-weight:800;
        color:var(--nav-font-color);

        position:fixed;
        top:0;
        right:calc(5em - 100vw);

        margin: 2rem;
        padding-inline: 1rem;

        -webkit-transition: var(--transition-dur) ease;
        -moz-transition: var(--transition-dur) ease;
        -o-transition: var(--transition-dur) ease;
        transition: var(--transition-dur) ease;
    }
    #back-button:hover{
        background-color: var(--nav-selection-color);
        color:var(--nav-selection-font-color);
    }
    #links > li{
        display: inline-block;
        border-bottom: .1em solid var(--nav-bg-dark);

        margin-inline:2em;
        overflow:visible;

        min-width:calc(100% - 4em);
        max-width: 80%;
    }
    #links > li > a{
        padding-block: 1em;
        position:relative;
        left:0;
    }
    #links > li > a:not(#contribute-anchor):hover,
    #links > li > a:not(#contribute-anchor):focus,
    .highlight{
        margin-inline:-3em;
        left:-1em !important;
    }
    #contribute-content{
        width: calc(100vw - 5em);
        /* margin:0; */
    }
    #contribute-content > li{
        margin-inline: -2em;
        padding-inline: 2em;
    }
    #contribute-content > li > a:hover, #contribute-content > li > a:focus{
        margin-inline:-1.7em;
    }
    #promo{
        grid-template-rows: auto 1fr;

        overflow-x: auto;
        overflow-y:hidden;

        box-shadow: 0px -78px 25px -80px rgba(0,0,0,0.75) inset;
        -webkit-box-shadow: 0px -78px 25px -80px rgba(0,0,0,0.75) inset;
        -moz-box-shadow: 0px -78px 25px -80px rgba(0,0,0,0.75) inset;
    }
    #label{
        position:sticky;
        left:1em;

        max-width: max-content;
    }
    #label > hr{
        display: none;
    }
    #events{
        flex-direction: row;
        align-items: stretch;
        align-self:center;

        overflow-x: auto;

        height:min-content;
        max-height: 100%;
        max-width: 100%;
    }
    .event{
        width: 5em;
        margin: .1em .5em;
    }
    .event h2{
        font-size: 70%;
    }
    .event div p{
        display: none;
    }
    .entry{
        display:grid;
    }
    .entry > h2, .date{
        order: 2;
    }
    .home-img-container{
        order:1;
        max-width: 80%;
        margin-bottom: 1em;
        margin-inline: auto;
        padding:0;
    }
}
#navbar-button{
    --nav-dur: 0.3s;
    -webkit-transition: var(--nav-dur) ease-out;
    -moz-transition: var(--nav-dur) ease-out;
    -o-transition: var(--nav-dur) ease-out;
    transition: var(--nav-dur) ease-out;
}