input[type=text], input[type=file], button:not(.back), textarea{
    font-family: 'Rubik', sans-serif;
    font-size: 1.1rem;

    position:relative;

    border: none;
    outline: 1px solid rgb(70, 70, 70);

    padding: .5em;

    transition: background-color .1s linear;

    background-color: rgb(31,31,31);
    color:white;
}
textarea{
    overflow-y:auto;
    resize:vertical;
}
button:not(.back){
    background-color: rgb(100,100,100);
    max-width: 40%;
    width: 10em;
    align-self: center;
}
.invalid{
    outline-color: rgb(146, 44, 44) !important;
}
.animate{
    animation: error .2s linear forwards;
}
@keyframes error{
    0%{
        right: 0px;
    }
    50%{
        right: -5px;
    }
    75%{
        right: 5px;
    }
    100%{
        right:0px;
    }
} 
button:not(.back):hover, button:focus{
    outline-offset: .1em;
    background-color: rgb(70,70,70);
}
button:not(.back):active{
    outline-offset: .1em;
    background-color: rgb(50,50,50);
}
input[type=text]:focus, textarea:focus{
    outline:2px solid rgb(100,100,100);
}